
/*
    * = selector 
    padding = property
    0 = value
*/
*
{
    padding: 0;
    margin: 0;
}

body{
    background-color:rgb(252, 23, 138);
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 100vw;
    height: 100vh;
}
header{
height: 20%;
display: flex;
justify-content: center;
align-items: center;
}

main{
height: 60%;
display: flex;
justify-content: center;
align-items: center;
background-color: aquamarine;
}
footer{
height: 20%;
display: flex;
justify-content: center;
align-items: center;
}
/*media queries*/

@media screen and (min-width: 991px){
    header{
        background-color:blueviolet
    }
    main{
        background-color:blue;
    }
    footer{
        background-color:blueviolet
    }
}